             
           


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">

                                  <center><h3>Historique :</h3></center>

                        <h3 class="post-subtitle">
                        <div style="border: 2px solid #1c75c8; padding: 3px; background-color: #c5ddf6; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;">
                           <p><font color = "SteelBlue">Chef de choeur  :  PHILIPPE YVIN</font></p>

                           <p><font color = "SteelBlue">Président de L'association   :  Robert Vicard</font>

                           <p><font color = "CadetBlue1">Trésorière de l'association  : JOSETTE AVRIL</font>

                            <p><font color = "CadetBlue1">CHOREGRAPHE  :  EVELYNE YVIN</font></p>
                        </div>
                      </h3>
                    </p>

            </div>


                  <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">

         <center> <%= image_tag 'philipe.jpg', class: "image" %></center>

                 <center> <p>Présentation du chef de choeur :</p></center>
</h2>
                        <h3 class="post-subtitle">
                       <div style="border: 2px solid #1c75c8; padding: 3px; background-color: #c5ddf6; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;">
                      <h2><font size="2"><p dir="ltr" style="margin-right: 0px; text-align: justify;">Philippe Yvin est chef de chœur de trois chorales: Tapage Nocturne à Canéjan.Illac aChanter a Saint Jean d Illac et  Couleurs Vocales de Lanton....Il est aussi l'harmonisateur  de toutes les chansons ,ce qui donne une unité et une couleur particulière à notre répertoire.

Harmoniser c'est adapter une chanson pour un choeur en tenant compte des hauteurs de voix différentes réunies en "pupitres"(alto ,basses, ténor et sopranes) afin de l'enrichir et que l'ensemble soit "harmonieux", original voir surprenant. <font face="Times New Roman"></font></font></p>
</h2>




                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                          <center> <p>Particularité :</p></center>
                        </h2>
                        <h3 class="post-subtitle">

            <div style="border: 2px solid #1c75c8; padding: 3px; background-color: #c5ddf6; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;">
                      <h2><strong>  <font size="2"> La particularité de  Couleurs Vocales,  c'est l’originalité, un
ensemble chant, et danse, un tout réuni pour faire un beau spectacle dans la joie et la bonne humeur. Car notre devise avant tout est de nous faire plaisir.

Nous répétons également parfois le dimanche,nous réunissons chant et danse, eh oui, tout sa a la fois Quand nous répétons le dimanche, c'est toute la journée, nous partageons le repas tous ensemble, ce qui nous permet de nous retrouver d'echanger de discuter de tout et de rien, parfois meme de feter les anniversaires autant ne pas se priver
Il y a un plus dans notre particularité,
                      c'est que chaque année pour notre spectacle qui se déroule au Centre d Animation de Lanton, nous rassemblons les trois chorales.</strong></font>
</h2>
</div>

</div>
</div>
     <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">

 <center> <%= image_tag 'groupe.jpg', class: "image" %> </center>


<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-col-md-10 col-md-">
                    <ul class="list-inline text-center">

   <div class="hr">

  <font size="2"><strong>créer par Virginie Medina|</strong>Copyright &copy;2016</font>
   </hr>
  </div>


</footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->



<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
</script>
</body>
